[Unit]
Description=RTMP Streamer Service
After=network.target

[Service]
WorkingDirectory=%h/cctv
ExecStart=/home/vishrut/.pyenv/shims/python %h/cctv/rtmp_stream.py --server remote
Environment=PATH=/home/vishrut/.pyenv/shims:/usr/local/bin:/usr/bin
StandardOutput=rtmp.log
StandardError=rtmp.error.log
Restart=always

[Install]
WantedBy=default.target
